/** main set up **/
body{
    background: #000000;
    color: #ffffff;
    font-family: "Times New Roman", sans-serif;
}

h1{
    font-size: 64px;
    text-align: center;
    padding: 10px;
}
h2{
    font-size: 32px;
    text-shadow: 4px 4px 2px #808080;
}
p{
    font-size: 24px;
    padding-top: 15px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: auto;
}

div{
    min-height: 150px;
    padding-left: 25px;
    padding-right: 25px;
}


/** colors **/
#red{
    background: #FF0000;
    text-align: right;
}
#red div{
    min-height: 150px;
    padding-left: 25px;
    padding-right: 25px;
}

#blue{
    background: #0000ff;
    text-align: left;
}
#blue div{
    min-height: 150px;
    padding-left: 25px;
    padding-right: 25px;
}


/** yellow **/ 
#yellow{
    background: #ffff00;
    text-align: right;
    padding-left: 25px;
    padding-right: 25px;
}
#yellow p{
    color: #000000;
}
#yellow h2{
    color: #000000;
    text-shadow: 4px 4px 2px #c7e2c7;
}
#yellow div{
    min-height: 150px;
    padding-left: 25px;
    padding-right: 25px;
}

/** other colors **/
#green{
    background: #008000;
    text-align: left;
    min-height: 150px;
    padding-left: 25px;
    padding-right: 25px;
}
#green div{
    min-height: 150px;
    padding-left: 25px;
    padding-right: 25px;
}

/* closing */

footer p{
    text-align: center;
}
footer div{
    padding-right: 10px;
    padding-bottom: 10px;
}


